/* cursor styling  */

.cursor-dot {
  height: 300px;
  width: 300px;
  background-color: #eb336751;
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
}

.cursor-outline {
  width: 60px;
  height: 60px;
  border: 2px solid #eb3367;
}

.cursor-dot,
.cursor-outline {
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

/* This is for Responsive navbar  */

@media (max-width: 980px) {
  .hero-section::before {
    height: 11vh;
    top: 89%;
  }

  header img {
    width: 170px;
    height: auto;
    z-index: 999;
  }

  .mobile-nav-icons {
    display: block;
    z-index: 999;
  }
  .header {
    position: relative;
  }

  .navbar {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #eb3367;
    backdrop-filter: blur(20px);
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.5s linear;
    opacity: 0;
    pointer-events: none;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul li {
    font-size: 25px;
    margin-bottom: 30px;
    color: #fff;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .active .mobile-nav-icons .navbar-icon[name="close-outline"] {
    display: block;
  }
  .active .mobile-nav-icons .navbar-icon[name="menu-outline"] {
    display: none;
  }

  .hero-section {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .hero-section .left-content {
    width: 100%;
    text-align: center;
  }

  .card-box {
    margin-top: 50px;
  }
}

/* responsive card for all devices  */

@media (max-width: 980px) {
  .hero-section::before {
    top: 89%;
  }

  .header {
    padding: 0 20px;
  }

  .header .logo img {
    width: 100px;
  }

  .mobile-nav-icons .navbar-icon {
    width: 2rem;
    height: 2rem;
  }

  .hero-section {
    padding: 0 20px;
  }
  .hero-section .left-content {
    width: 100%;
  }
  .hero-section .left-content h1 {
    font-size: 33px;
  }
  .hero-section .left-content p {
    font-size: 15px;
  }
  .hero-section .left-content .btn {
    width: 140px;
    height: 50px;
    font-size: 15px;
    margin-left: 25px;
  }
}

@media (max-width: 1000px) {
  .card-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .card-box {
    width: 350px;
    height: 490px;
  }
}

@media (max-width: 980px) {
  .card-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .card-box {
    width: 450px;
    height: 590px;
  }
}

@media (max-width: 768px) {
  .card-gallery {
    grid-template-columns: 1fr;
  }
  .center-dot,
  .center-outline{
    display: none;
  }
}

/* second responsive card about section  */

@media (max-width: 1290px) {
  .center-div-2 {
    flex-direction: column-reverse;
  }

  .about-us {
    min-height: 80vh;
  }
  .center-div {
    margin-top: 30px;
    flex-direction: column;
  }
  .about-us .about-img {
    width: 100%;
  }

  .about-us .content-text {
    width: 100%;
  }
  .content-text button {
    margin-bottom: 20px;
  }
}

/* @media query for all  */

@media (max-width: 768px) {
  .content-text button {
    margin-bottom: 20px;
  }

  .center-div .content-text h1 {
    font-size: 30px;
  }
  .center-div .content-text p {
    font-size: 13px;
  }

  .content-text button {
    width: 130px;
    height: 45px;
    font-size: 14px;
  }
  .card-box {
    width: 250px;
    height: 370px;
  }
  .card-box .card-content h1 {
    font-size: 20px;
  }

  .card-top-content h1 {
    font-size: 23px;
  }
  .card-top-content p {
    font-size: 15px;
  }
  .center-div-2 .content-text h1 {
    font-size: 30px;
  }
  .center-div-2 .content-text p {
    font-size: 13px;
  }
}

@media (max-width: 980px) {
  .content-text button {
    margin-bottom: 20px;
  }
  .content-text h1 {
    font-size: 40px;
  }
  .content-text p {
    font-size: 16px;
  }
  .card-box {
    width: 230px;
    height: 370px;
  }
  .card-box .card-content h1 {
    font-size: 18px;
  }

  .card-top-content h1 {
    font-size: 23px;
  }
  .card-top-content p {
    font-size: 15px;
  }
  .about-us {
    padding: 0 12px;
  }
  .center-div-2 .content-text h1 {
    font-size: 30px;
  }
  .center-div-2 .content-text p {
    font-size: 13px;
  }
}

/* review section  */

@media (max-width: 980px) {
  .reviews p {
    font-size: 18px;
  }
  .reviews h1 {
    font-size: 27px;
  }
  .reviews::before {
    width: 14%;
  }
}

@media (max-width: 768px) {
  .reviews p {
    font-size: 16px;
  }
  .reviews h1 {
    font-size: 24px;
  }
  .reviews::before {
    width: 14%;
  }
}

/* customer review section  */

@media (max-width: 980px) {
  .customer-review {
    height: 195vh;
    flex-direction: column;
  }
  .video-container iframe {
    width: 90%;
    height: 70vh;
  }
  .snip1533 {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .customer-review {
    height: 195vh;
    flex-direction: column;
  }
  .video-container iframe {
    width: 90%;
    height: 70vh;
  }
  .snip1533 {
    max-width: 300px;
  }
  .snip1533:hover {
    max-width: 310px;
  }
}

/* responsive footer section   */

@media (max-width: 1560px) {
  footer .contact {
    padding-left: 60px;
  }

  footer .newsletter {
    padding-right: 40px;
  }
}

@media (max-width: 980px) {
  footer {
    height: 110vh;
    padding-left: 80px;
  }
  position-align {
    display: flex;
    flex-direction: column;
    top: 25%;
    left: 0;
  }
  footer .contact {
    width: 100%;
    padding-left: 80px;
  }
  footer .newsletter {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 80px;
  }
  footer .support-info {
    width: 100%;
    padding-left: 80px;
  }

  footer .contact {
    width: 100%;
    padding-left: 30px;
  }
  footer .newsletter {
    width: 100%;
    padding-left: 30px;
  }
  footer .support-info {
    width: 100%;
    padding-left: 30px;
  }
  footer .newsletter .searchElem button {
    width: 140px;
  }

  footer .newsletter p {
    font-size: 13px;
  }

  footer .newsletter span {
    font-size: 14px;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }
  footer .contact h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  footer .contact p {
    font-size: 14px;
  }
  .support-info .info h1,
  .support-info .support h1 {
    font-size: 20px;
  }

  .support-info .info p,
  .support-info .support p {
    font-size: 14px;
  }

  footer .newsletter {
    width: 100%;
  }

  footer .newsletter h1 {
    font-size: 20px;
  }
  footer .newsletter span {
    font-size: 14px;
  }

  footer .newsletter .searchElem {
    width: 100%;
    height: 38px;
  }
  footer .newsletter .searchElem input {
    width: 100%;
    padding-left: 15px;
  }
  footer .newsletter .searchElem button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  footer {
    height: 110vh;
    padding-left: 30px;
  }
  position-align {
    flex-direction: column;
    top: 18%;
    left: 0;
  }

  footer .contact {
    width: 100%;
    padding-left: 30px;
  }
  footer .newsletter {
    width: 100%;
    padding-left: 30px;
  }
  footer .support-info {
    width: 100%;
    padding-left: 30px;
  }
  footer .newsletter .searchElem button {
    width: 140px;
  }

  footer .newsletter p {
    font-size: 13px;
  }

  footer .newsletter span {
    font-size: 14px;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }
  footer .contact h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  footer .contact p {
    font-size: 14px;
  }
  .support-info .info h1,
  .support-info .support h1 {
    font-size: 20px;
  }

  .support-info .info p,
  .support-info .support p {
    font-size: 14px;
  }

  footer .newsletter {
    width: 100%;
  }

  footer .newsletter h1 {
    font-size: 20px;
  }

  footer .newsletter .searchElem {
    width: 100%;
    height: 38px;
  }
  footer .newsletter .searchElem input {
    width: 100%;
    padding-left: 15px;
  }
  footer .newsletter .searchElem button {
    font-size: 14px;
  }
}

/*responsive for copy right section  */

@media (max-width: 980px) {
  .copy-right {
    height: 20vh;
    flex-direction: column;
  }

  .copy-right p {
    padding: 10px 0;
    font-size: 13px;
  }
  .icon-card {
    width: 1.7rem;
    height: 1.7rem;
  }
}
@media (max-width: 768px) {
  .copy-right {
    height: 20vh;
    flex-direction: column;
    padding: 0 30px;
  }

  .copy-right p {
    padding: 20px 0;
    font-size: 13px;
  }
  .icon-card {
    width: 1.7rem;
    margin-bottom: 10px;
  }
  .copy-right .social .social-icon {
    font-size: 20px;
    padding: 4px;
  }
}
